.table-parent-container {

   /*  .table-wrapper {
        border: 2px solid black;
       

        .table-heading {
            display: flex;
            justify-content: space-evenly;
            font-size: $p-txt-size;
            padding: 10px;
        }


        .table-rows {
            border: 1px solid green;
            display: grid;
            grid-template-columns: 33% 33% 33%;
        }
            
    } */

}